# EDA Part 2 & Functions

<img src='graphics/automation.jpg' width = 600>

In the last meet-up, we introduced Exploratory Data Analysis (EDA). The importance of this step (examining, cleaning and questioning) cannot be understated. Thus, we will spend the first part of this meet-up working in teams to conduct our own EDA on a new set of data.

A data scientistâ€™s workflow can be broken down into six components:
1. Define the problem (covered two sections from here)
1. Gather the data (done for you)
1. Explore the data (our focus for today)
1. Model with the data
1. Evaluate the model
1. Answer the problem

This workflow is not a linear process. It involves (in many cases) multiple back and forths between all the different parts of the process.

## The Dataset
The dataset 'India air quality data' is from the Kaggle challenge ["India Air Quality Data"](https://www.kaggle.com/shrutibhargava94/india-air-quality-data). The dataset is located in the data folder. 

The dataset consists of the following columns:

- stn_code
- sampling_date
- state *State*
- location *City*
- agency
- type *Area category*
- so2 *Sulphur dioxde*
- no2 *Nitrogen dioxide*
- rspm *Respirable Suspended Particulate Matter*
- spm *Suspended Particulate Matter*
- location_monitoring_station *location of monitoring area*
- pm2_5 *PSI 2.5*
- date *Date of recording*

## Our Analysis Question
As with any project, we need to know what is the question we are trying to answer. In this challenge, we want to know the air quality of India (which is actually worse than China's, but we want to learn how bad is the air quality.) 


The goals of this challenge are to  
1. Clean the dataset to address the project question
1. Establish visualizations of the data

I will not tell you more about the dataset, so that this is truly an EDA for you.

## Exercise 1: Load the necessary libraries and dataset

You need to load the necessary libraries in order to 
1. Read the data into a DataFrame
1. Plot the data in both Matplotlib and Seaborn

In [43]:
# Write your code here to load the libraries and load the dataset. 
import pandas as pd
import matplotlib.pyplot as plt # more basic visualization
import matplotlib.style 
%matplotlib inline # print inside jupyter notebook 
plt.style.use('fivethirtyeight') # import stylesheet for fivethirtyeeight
import seaborn as sns # built off matplotlib
sns.set(style='darkgrid')

import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('data/data.csv')
display(df)

UsageError: unrecognized arguments: # print inside jupyter notebook

In [ ]:
# Exercise 2: Initial Data Examination

There are six fundamental things we look at initially. In the next block, write the code to print out each of these six fundamental examinations, placing a title to each on a separate line from the actual data.

In [44]:
# Write your code here
print('DataFrame Shape:\n', df.shape, '\n\n')
display('DataFrame Head:', df.head())
display('DataFrame Sample:', df.sample(10))
print('\n\nDataFrame Statistical Description:\n', df.describe(), '\n\n')
print('DataFrame Column Types:\n', df.dtypes, '\n\n')
print('\nDataFrame count', '\n', df.count())
print('\n\nDataFrame Null Value Count:\n', df.isnull().sum())
print('\n\nNumber of Duplicated Rows:\n', df.duplicated().sum())

DataFrame Shape:
 (435742, 9)

'DataFrame Head:'

,state,location,type,so2,no2,rspm,spm,pm2_5,date
0,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,2/1/90
1,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,NaN,NaN,NaN,2/1/90
2,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,2/1/90
3,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,3/1/90
4,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,NaN,NaN,NaN,3/1/90

'DataFrame Sample:'

,state,location,type,so2,no2,rspm,spm,pm2_5,date
20817,Andhra Pradesh,Visakhapatnam,Industrial Area,18.0,34.0,22.0,NaN,NaN,10/26/13
364819,Telangana,Hyderabad,Sensitive Area,4.0,16.0,78.0,NaN,NaN,8/25/14
25508,Andhra Pradesh,Vijayawada,"Residential, Rural and other Areas",6.0,41.0,126.0,NaN,NaN,10/4/15
243194,Maharashtra,Pune,"Residential, Rural and other Areas",44.0,51.0,230.0,NaN,NaN,12/31/13
171753,Kerala,Wayanad,Sensitive Area,2.0,4.5,45.0,NaN,NaN,8/26/13
41804,Assam,Guwahati,"Residential, Rural and other Areas",8.0,14.0,50.0,NaN,NaN,10/7/14
64336,Chhattisgarh,Raipur,"Residential, Rural and other Areas",12.0,34.0,164.0,NaN,NaN,9/8/15
99175,Gujarat,Vadodara,"Residential, Rural and other Areas",9.0,12.0,47.0,22.0,NaN,5/8/13
237736,Maharashtra,Dombivli,Industrial Area,19.0,75.0,107.0,NaN,NaN,2/14/13
9370,Andhra Pradesh,Hyderabad,Residential and others,5.2,28.3,119.0,343.0,NaN,11/2/09

DataFrame Statistical Description:
                  so2            no2           rspm            spm        pm2_5
count  401096.000000  419509.000000  395520.000000  198355.000000  9314.000000
mean       10.829414      25.809623     108.832784     220.783480    40.791467
std        11.177187      18.503086      74.872430     151.395457    30.832525
min         0.000000       0.000000       0.000000       0.000000     3.000000
25%         5.000000      14.000000      56.000000     111.000000    24.000000
50%         8.000000      22.000000      90.000000     187.000000    32.000000
75%        13.700000      32.200000     142.000000     296.000000    46.000000
max       909.000000     876.000000    6307.033333    3380.000000   504.000000


DataFrame Column Types:
 state        object
location     object
type         object
so2         float64
no2         float64
rspm        float64
spm         float64
pm2_5       float64
date         object
dtype: object



DataFrame count
 state       435742
location    435739
type        430349
so2         401096
no2         419509
rspm        395520
spm         198355
pm2_5         9314
date        435735
dtype: int64


DataFrame Null Value Count:
 state            0
location         3
type          5393
so2          34646
no2          16233
rspm         40222
spm         237387
pm2_5       426428
date             7
dtype: int64


Number of Duplicated Rows:
 1135

# A Bit of Cleaning

Now that we have a sense of the data, let's begin cleaning the data.

## Exercise 3: Dropping some unnecessary columns
There are a few columns which we just don't need because they won't add to our eventual analysis. 
- stn_code
- agency
- sampling_date
- location_monitoring_station 

In the next block, write the code to **drop** these columns. As a team, you will want to do a bit of investigation into `.drop( )` as it relates to columns. You can drop all of the columns that you want to drop in one line of code.

In [45]:
# Write your code here
# df = df.drop(columns=['stn_code', 'agency', 'sampling_date', 'location_monitoring_station'])
df['date'] = pd.to_datetime(df['date'])

df.dtypes

state               object
location            object
type                object
so2                float64
no2                float64
rspm               float64
spm                float64
pm2_5              float64
date        datetime64[ns]
dtype: object

## Exercise 4: Are the text entries correct?

Digging deeper on our remaining columns, we notice that state, location and type are text entries. But do we know if there are misspellings? We don't until we look at them. 

In the next block, write a loop that prints out the **unique** values for each of text columns. Make sure that we write the code to make it easy for a human to read the output. This means printing the name of the column, followed by a colon, and on the next line print out the unique values. As a team, you will want to look at the `.unique( )` command again.

In [56]:
# Write your code here. 
df['date'] = pd.to_datetime(df['date'])
text_columns = ['state', 'location','type']
 
for column_name in text_columns:
    print(column_name+':\n', df[column_name].unique(),'\n\n')

state:
 ['Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chandigarh'
 'Chhattisgarh' 'Dadra & Nagar Haveli' 'Daman & Diu' 'Delhi' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir' 'Jharkhand'
 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya'
 'Mizoram' 'Nagaland' 'Odisha' 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim'
 'Tamil Nadu' 'Telangana' 'Uttar Pradesh' 'Uttarakhand' 'Uttaranchal'
 'West Bengal' 'andaman-and-nicobar-islands' 'Lakshadweep' 'Tripura']


location:
 ['Hyderabad' 'Vishakhapatnam' 'Visakhapatnam' 'Tirupati' 'Vijayawada'
 'Patancheru' 'Ramagundam' 'Kurnool' 'Guntur' 'Nalgonda' 'Nellore'
 'Warangal' 'Chittoor' 'Khammam' 'Kakinada' 'Ananthapur' 'Eluru' 'Kadapa'
 'Karimnagar' 'Nizamabad' 'Ongole' 'Rajahmundry' 'Sangareddy' 'Srikakulam'
 'Vizianagaram' 'Itanagar' 'Naharlagun' 'Guwahati' 'Bongaigaon'
 'Dibrugarh' 'Golaghat' 'Hailakandi' 'Sibsagar' 'Tezpur' 'Silchar'
 'Daranga' 'Lakhimpur' 'Nagaon' 'Nalbari' 'Sivasagar' 'Silcher' 'Tinsukia'
 'Margherita' 'Sindri' 'Jharia' 'Dhanbad' 'Jamshedpur' 'Patna'
 'Chandigarh' 'Korba' 'Bhilai Nagar' 'Raipur' 'Bhilai' 'Bilaspur' 'Daman'
 'Silvassa' 'Khadoli' 'Daman Diu & Nagar' 'Delhi' 'Ponda' 'Vasco' 'Panjim'
 'Panaji' 'Mormugao' 'Amona' 'Assanora' 'Bicholim' 'Codli' 'Curchorem'
 'Honda' 'Usgao' 'Kundaim' 'Mapusa' 'Margao' 'Sanguem' 'Tilamol'
 'Cuncolim' 'Baroda' 'Surat' 'Ahmedabad' 'Vapi' 'Ankleshwar' 'Rajkot'
 'Bharuch' 'Jamnagar' 'Vadodara' 'Anklesvar' 'ANKLESHWAR' 'VAPI' 'Bhuj'
 'MORBI' 'SANAND' 'Sarigam' 'Faridabad' 'Yamuna Nagar' 'Dharuhera' 'Hisar'
 'Yamunanagar' 'Shimla' 'Paonta Sahib' 'Parwanoo' 'Damtal' 'Baddi' 'Nahan'
 'Nalagarh' 'Kala Amb' 'Manali' 'Sunder Nagar' 'Una' 'Dharamshala' 'Jammu'
 'Ranchi' 'West Singhbhum' 'Saraikela Kharsawan' 'Mysore' 'Bangalore'
 'Belgaum' 'Gulbarga' 'Hassan' 'Hubli-Dharwad' 'Mangalore' 'Davangere'
 'Dharwad' 'Hubli' 'Bidar' 'Domlur' 'Chitradurga' 'Ranebennur' 'Kolar'
 'Mandya' 'Raichur' 'Shimoga' 'Tumkur' 'Bijapur' 'Cochin' 'Kotttayam'
 'Kottayam' 'Kozhikode' 'Trivendrum' 'Palakkad' 'Kochi' 'Trivandrum'
 'Alappuzha' 'Kollam' 'Malappuram' 'Thiruvananthapuram' 'Pathanamthitta'
 'Thissur' 'Wayanad' 'Nagda' 'Satna' 'Indore' 'Bhopal' 'Jabalpur'
 'Gwalior' 'Ujjain' 'Dewas' 'Khajuraho' 'Sagar' 'Singrauli' 'Chhindwara'
 'Amlai' 'Pithampur' 'Pune' 'Bombay' 'Nagpur' 'Chandarpur' 'Aurangabad'
 'Chandrapur' 'Nashik' 'Dombivli' 'Solapur' 'Thane' 'Mumbai'
 'Aurangabad (MS)' 'Greater Mumbai' 'Kolhapur' 'Amravati' 'Lote'
 'Navi Mumbai' 'Tarapur' 'Mahad' 'Badlapur' 'Jalgaon' 'Latur' 'Roha'
 'Sangli' 'Ulhasnagar' 'Akola' 'Jalna' 'Nanded' 'Imphal' 'Shillong'
 'Byrnihat' 'Dawki' 'Tura' 'Khliehriat' 'Nongstoin' 'Umsning' 'Aizawl'
 'Champhai' 'Kolasib' 'Lunglei' 'Dimapur' 'Kohima' 'Angul' 'Talcher'
 'Rourkela' 'Nalco' 'Rayagada' 'Bhubaneswar' 'Bhubaneshwar' 'Cuttack'
 'Sambalpur' 'Berhampur' 'Balasore' 'Kalinga Nagar' 'Paradeep' 'Keonjhar'
 'Konark' 'Puri' 'Pondichery' 'Pondicherry' 'Karaikal' 'Ludhiana'
 'Jalandhar' 'Patiala' 'Gobindgarh' 'Naya Nangal' 'Amritsar' 'Bathinda'
 'Dera Bassi' 'Khanna' 'Dera Baba' 'Sangrur' 'Faridkot' 'Hoshiarpur'
 'Kota' 'Jaipur' 'Alwar' 'Jodhpur' 'Chittorgarh' 'Udaipur' 'Gangtok'
 'Madras' 'Turicorin' 'Tuticorin' 'Coimbatore' 'Madurai' 'Salem' 'Chennai'
 'Thoothukudi' 'Trichy' 'Mettur' 'Cuddalore' 'Kothur' 'Agra' 'Anpara'
 'Dehradoon' 'Lucknow' 'Kanpur' 'Gajroula' 'Varanasi' 'Noida, Ghaziabad'
 'Ghaziabad' 'Noida' 'Renusagar' 'Gajraula' 'Firozabad' 'Jhansi' 'Khurja'
 'Allahabad' 'Meerut' 'Bareilly' 'Gorakhpur' 'Mathura' 'Moradabad'
 'Rai Bareilly' 'Saharanpur' 'Unnao' 'Dehradun' 'Haldwani' 'Haridwar'
 'Kashipur' 'Rishikesh' 'Rudrapur' 'Haldia' 'Howrah' 'Calcutta' 'Durgapur'
 'Asansol' 'Kolkata' 'Durgapur (WB)' 'Baruipur' 'Barrackpore' 'Raniganj'
 'Sankrail' 'South Suburban' 'DANKUNI' 'HALDIA' 'Kalyani' 'MALDAH'
 'SILIGURI' 'ULUBERIA' nan]


type:
 ['Residential, Rural and other Areas' 'Industrial Area' nan
 'Sensitive Area' 'Industrial Areas' 'Residential and others'
 'Sensitive Areas' 'Industrial' 'Residential' 'RIRUO' 'Sensitive']

### Bonus Exercise
You may have listed out the object columns in the last exercise - after all, there are only four of them. But what are you going to do if there are 400 of them? 

In the next block, write the code to check the `.dtype` of each column. If the column is an object, add that column to a list of the text column names, then print out the list.

In [ ]:
# Write your code here

Now rewrite your code that looks at **unique** values within each text column. This new code will reflect the code in the block above.

In [ ]:
# Write your code here

### Exercise 4: Changing Text Entries

You may have noticed in the type column that there is an 'Industrial Area', 'Industrial Areas' and 'Industrial'. These are the same thing and, thus, we need to bring them into alignment.

You may have also noticed that in the same column there is a 'Sensitive Area', 'Sensitive Areas', and 'Sensitive'. Again, these are the same thing and we need to bring them into alignment. 

We also have a long entry 'Residential, Rural and other Areas'. Let's chop those entries down to "RRO"

Write the code to clean these two areas. For simplicity, we want the end result for all of 'Industrial' to read 'Industrial', all of 'Sensitive' to read 'Sensitive', and the 'Residential, Rural and other Areas" to read 'RRO'. 

Hint: As a team, investigate the `.replace( )` command.

In [ ]:
# Write your code here

## We only need the year

The 'date' column, as we saw above, is an object. We need to change that to a datetime type. I will help you with this. Note the code that I use so you can use it later on your own. 

As we saw above also, there are 7 entries missing dates in our dataset. We will also filter out those rows specifically, then drop them from our dataset. 

Hint: As a team, investigate
1. how to convert the date column to *datetime*.
1. how to use the `.isnull( )` command to find the empty values.
1. how to use the `.dropna( )` command to drop the empty values.

In [ ]:
df['date'] = pd.to_datetime(df['date']) # Convert date column to datetime

philter = df['date'].isnull() # Establish a filter where year is NaN 
df[philter].dropna() #Drop all years that meet the filter criteria

df.info()

# Now let's do some plotting

Looking over our data, it appears to be clean, so let's go to the next phase of an EDA, the VDA (Visual Data Analysis) - plotting our values. 

## Exercise 5: Correlation/Confusion Matrix
To start, let's do a Confusion/Correlation Matrix of the numeric columns. We talked about this in the 011 meeting. This will show us if there are any values which positively or negatively correlate to each other.

As a team using Seaborn, 
1. plot a heatmap (the Seaborn version of a Correlation Matrix).
1. note any patterns in the data.

In [ ]:
# Write your code here

## Exercise 6: Pairplot

In the block below, as a team using Seaborn, 
1. create a pairplot so we can look at all of the variables and how they correlate to each other graphically. 
1. note any feature pairs that appear to call for further investigation for having a linear pattern.

In [ ]:
# Write your code here

# Functions

As you look at what you have done, can you imagine doing this repeatedly for every dataset that you encounter? If a sigh of despair doesn't emanate from you at the thought of this, congratulations! If one does, then let's use **Functions** to make our life easier. 

A **function** is a sub-routine (small program inside your regular program) which you define and give a name. Once you have done this, then anytime you pull up that given name, Python will run that sub-routine without you having to code all of the lines of code again. 

To start defining a function, we have to tell Python that a new function is being *defined*. In Python this is done with the `def` command. 

After we use the `def` command, we give the function a name for Python to learn, and we give the data that we are going to use, sorta. Let's look at an example. 

## Functions Example 1

We want to define a function that returns the square of whatever number we give it. And we want to call this function, "square". Look at the code below as we talk through it. (Yes, there are other ways to handle getting a square of a number in Python, but this is an illustrative example.)

In [ ]:
# Defining a function that will give us the square of any number we put into it.

def square(number):
    sq = number * number
    return sq

Now that we have defined the square function for Python, every time we use this function after it has run Python will run this sub-routine (function). 

In the next block, as an example, we have a test_list of numbers. Up to now, if we wanted to find the square of each number in the list, we would write the following.

In [ ]:
test_list = [1, 2, 3, 4, 5]

for num in test_list:
    number = num * num
    print(number)

However, now that you have defined a function to find the square, this is how we would right the code for finding the square of each number in a list now.

In [ ]:
test_list = [1, 2, 3, 4, 5]

for num in test_list:
    print(square(num))

Notice the difference in the code snippets. While our example is quite small and simple, we have reduced two lines of code down to one. If whatever program we now write requires us to do this multiple times, the savings in lines of code begin to multiply. 

A function can do anything that any other Python programming code can do. It just does it in one line of code rather than several. 

## Example 2

Let's move on to another example that is a bit larger just to illustrate the power of functions. 

In this example I want to:
1. generate any amount of random numbers (*n*)
1. they are to start with a number I give Python (*start*)
1. they are to finish with a number I give Python (*finish*)
1. AND they are to return all of the even random numbers generated as a list

In [ ]:
def random_even_numbers(n, start, finish):
    import random
    test_list = []
    for _ in range(n):
        a = random.randint(start, finish)
        if (a % 2) == 0:
            test_list.append(a)
    return test_list

In [ ]:
print(random_even_numbers(50,1,250))

Now, anytime we want to generate a group of random even numbers, we simply have to use the name of the function. 

And do the numbers still come out as a list?

Let's find out!

In [ ]:
type(random_even_numbers(100, 1, 1000))

Now let's complicate the function further. 

We want to do all of the same things as in our last example, but rather than one list of even numbers, we want the function to return two lists, one of even numbers only and the second of odd numbers only.

In [ ]:
def random_sorted_numbers(n, start, finish):
    import random
    even_list = []
    odd_list = []
    for _ in range(n):
        a = random.randint(start, finish)
        if (a % 2) == 0:
            even_list.append(a)
        else:
            odd_list.append(a)
    return even_list, odd_list

In [ ]:
a, b = random_sorted_numbers(24, 10, 100)

print('Even_list:', a)
print('Odd_list:', b)

## Example 3: How to use these to our advantage

In [ ]:
%run lib/simple_eda.py

In [ ]:
simple_eda(df)

## Exercise 7: EDA Function

Now that we have covered functions briefly, let's do a two part exercise. 

### Part 1

In the next block, write out a function that we will call, `eda`. Write the function so that it does all of the work of the preliminary EDA for a dataset.

1. Provides the DataFrame shape
1. Provides the DataFrame's head
1. Provides the DataFrame's info
1. Provides the DataFrame's statistical description
1. Provides the DataFrame's column names and variable type
1. Provides the DataFrame's value count for each column
1. Provides the DataFrame's null value count by column
1. Separates the DataFrame's columns into a numeric columns list and a categorical columns list

Once you have a single function to do this, run it to test it. When you are satisfied with what you have done, let me know.

In [ ]:
#Write your code here

### Part 2

Now let's see how to make this the first of your own library of functions for conducting an EDA in the future.

In [ ]:
%run lib/__eda_init__.py
%matplotlib inline

Now let's talk about how to do this.

In [ ]:
eda(df)

In [ ]:
break_down_features(df)

In [ ]:
# !pip install pandas-profiling

In [ ]:
pandas_profiling(df)